{% extends 'base.html' %}
{% block container %}
<p class="lh-1">Title: {{ article.title }}</p>
<p class="lh-sm">Link: {{ article.link }}</p>
<p class="lh-base">Author {{ article.author_name }}</p>

<h6>Comments:</h6>
{% for comment in article.article_comment.all %}
<hr/>
<p class="lh-1">Test: {{ comment.user }}</p>
<p class="lh-sm">Comment: {{ comment.content }}</p>
<p class="lh-base">Commented at: {{ comment.created_at }}</p>
<hr/>
{% endfor %}

{% endblock %}