{% extends 'base.html' %}
{% block container %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Author</th>
      <th scope="col">Title</th>
      <th scope="col">Link</th>
      <th scope="col">Comment(s)</th>
      <th scope="col">Votes</th>
    </tr>
  </thead>
  <tbody>
    {% for article in articles %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ article.author_name }}</td>
      <td>{{ article.title }}</td>
      <td><a href="{{ article.link }}">{{ article.link }}</a></td>
      {% if article.article_comment.first %}
      <td><a href="{% url "webapp:article" article.pk %}">
      {{ article.article_comment.first }}</a> <small>(and others)</small></td>
      {% endif %}
      <td>{{ article.article_vote.count }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}